#Amount {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  color: var(--black);
  font-size: 30px;

  &.horizontal {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .text {
    font-size: 0.5em;
    font-weight: 400;
    color: var(--darkgray);
  }
}
