.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  min-width: 375px;

  .section-main {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 1.5rem;

    .items {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 700px;
      margin: 0 auto;

      li > .item {
        width: 100%;
      }

      .mastercraft-card {
        margin-top: 11rem;
      }
    }
  }

  @media (min-width: 1000px) {
    .section-main .items .mastercraft-card {
      margin-top: 15rem;
    }
  }
}
